<div class="contact">
	<div id="map"></div>
	<script type="text/javascript">
		function initMap(){
			var pLocation = {lat: 37.719345, lng: -122.43329};

			var map = new google.maps.Map(document.getElementById('map'), {
          		zoom: 14,
          		center: pLocation
        	});

        	var contentString = '<div id="content">'+
        	'<div id="sideNotice">'+
        	'</div>'+
        	'<h3 id="firstHeading" class="firstHeading">Perez Cleaning Service</h3>'+
        	'<p>627 Edinburgh Street, San Francisco, CA 94112</p>'+
        	'</div>';

        	var infowindow = new google.maps.InfoWindow({
				content : contentString
			});	

        	var marker = new google.maps.Marker({
          		position: pLocation,
          		map: map,
          		title: 'Perez Cleaning Service'	
          	});

          	marker.addListener('click', function(){
          		infowindow.open(map, marker);
          	});
        }
	</script>	
	<script async defer 
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLCQVvzy8TUo2WJD0J01hBg5e_6lxohQM&callback=initMap">
	</script>
	<div class="contact-container odd"> 
	<p id='contact-header'>
		Interested in a quote for your home?
	</p>
	</div>
	<div class="contact-container row">
		<div class="col-md-6">
			<a href="tel:14155832389">
				<svg>
					<use xlink:href="my-sprite-2.svg#technology"></use> 
				</svg>	
			</a>
			<p>Give me an old fashioned phone call<br>
				<strong><a href="tel:14155832389">(415)583-2389</a></strong>
			</p>
		</div>
		<div class="col-md-6">
			<a href="mailto:vsntperez@yahoo.com">
				<svg>
					<use xlink:href="my-sprite-2.svg#mail"></use> 
				</svg>
			</a>	
			<p>or send me an email:<br>
				 <strong><a href="mailto:vsntperez@yahoo.com">vsntperez@yahoo.com</a></strong>
			</p>
		</div>
	</div>
	<div class='contact-container row odd'>
		<div class="col-md-6">
			<svg>
				<use xlink:href="my-sprite-2.svg#gps"></use> 
			</svg>
			<p>
				Address: <br>
				<strong>627 Edinburgh Street, San Francisco, CA 94112</strong>
			</p>
		</div>
		<div class="col-md-6">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3156.0235392711875!2d-122.4354713492762!3d37.71912532303329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7e9039cdc20b%3A0xadf5b1e6b149e2ae!2s627+Edinburgh+St%2C+San+Francisco%2C+CA+94112!5e0!3m2!1sen!2sus!4v1500698781180"  frameborder="0" style="border:0;" allowfullscreen></iframe>
		</div>
	</div>
	<div class="media-section">
		<p class="custom-p">Don't forget to leave me a review on yelp or facebook</p>
		<a href="https://www.yelp.com/biz/perez-house-cleaning-service-san-francisco" id='yp' alt="yelp" target="blank">
			<svg class="yelp-svg" alt="yelp">
				<use xlink:href="my-sprite-2.svg#yelp"></use> 
			</svg>
		</a>
		<a href="https://www.facebook.com/perezhusecleaningservice/" id='fb' alt="facebook" target="blank">
			<svg class="facebook" alt="facebook">
				<use xlink:href="my-sprite-2.svg#facebook"></use> 
			</svg>
		</a>
	</div>
</div>
