<!-- content for landing page - home page -->
<div class='container2'>
      <img src="landingImg3.png">
</div>
<div class='body-description row'>
  <!-- Elvyn's tia photo <img src=""> -->
  <div class='col-md-6'>
    <img src="perez-img.png" alt='Vicenta Perez Image'>
  </div>
  <div class='col-md-6'>
    <p>We all have things to do in our daily lifes. A job to go to. Our own businness to take care of. Things that need to get done before the end of the day. And cleaning our house, apartment or office is a chore that will take time out of our productive day. I'm here to help you getting that chore out of your todo list. With 10 years of experience, my team and I will leave your home impeccable.      
    </p>
  </div>
</div>
<div class='body row'>
  <div class='body-title'>
    <h2>WHAT I DO</h2>
  </div>
  <div class="col-md-3">
    <img id='svg-img' src="001-golden-gate-bridge.svg">
    <p>Locally own and certified since 2007. <strong>Certification #: 0490999</strong></p>
  </div>
  <div class="col-md-3">
    <img id='svg-img' src="002-house-things.svg">
    <p>Proffesional work.<br>
      With 10 years of eperience.<br>Offering different services.<br><a href="/services">Learn more</a>
    </p>
  </div>
  <div class='col-md-3'>
    <img id='svg-img' src="003-certification.svg">
    <p>We use green ecofriendly <br>cleaning products. <br>Just make a request.</p>
  </div>
  <div class="col-md-3">
    <img id='svg-img' src="004-team.svg">
    <p>Servicing our customer <br>from San Francisco and the Bay Area.</p>
  </div>
</div>

<div class='body-review-section'>
  <div id='customer-review-title' class='body-title'>
    <h2>CLIENT'S REVIEW</h2>
    <div class="personal-review">
      <blockquote>
        Vicenta has been cleaning our home for over 5 years and I highly recommend her and her team of cleaners.  They follow instructions; pay attention to detail; and I'm always satisfied with the outcome.  Equally important, she is kind, caring, responsible and a pleasure to work with.  I would refer her to anyone. 
        <cite>Jim S.</cite>
      </blockquote>
    </div>
  </div>
</div>
<!-- section to connect to social media -->
