<!-- content for landing page - home page -->
<div class='container2'>
      <img src="landingImg3.png" class="img-responsive">
</div>
<div class='body-description row'>
  <!-- Elvyn's tia photo <img src=""> -->
  <div class='col-xs-12 col-md-6'>
    <img class="img-responsive" id="img-vicenta" src="perez-img.png" alt='Vicenta Perez Image'>
  </div>
  <div class='col-xs-12 col-md-6'>
    <p id="img-vicenta-desc">We all have things to do in our daily lives. A job to go to. Our own business to take care of. Things that need to get done before the end of the day. And cleaning our house, apartment or office is a chore that will take time out of our productive day. I'm here to help you get that chore off your todo list. With 10 years of experience in the San Francisco Bay Area, my team and I will leave your home spotless.      
    </p>
  </div>
</div>
<div class='body row'>
  <div class='body-title'>
    <h2>WHAT I DO</h2>
  </div>
  <div class="col-md-3">
    <img id='svg-img' class='img-responsive' src="001-golden-gate-bridge.svg">
    <p>Locally owned and certified since 2007. <br><strong>Certification #: 0490999</strong></p>
  </div>
  <div class="col-md-3">
    <img class="img-responsive" src="002-house-things.svg">
    <p>Professional work.<br>
      Over 10 years of experience.<br>Offering different services.<br><a href="/services">Learn more</a>
    </p>
  </div>
  <div class='col-md-3'>
    <img class="img-responsive" src="003-certification.svg">
    <p>We use green ecofriendly <br>cleaning products. <br>Just make a request.</p>
  </div>
  <div class="col-md-3">
    <img class="img-responsive" src="004-team.svg">
    <p>Servicing our customers <br>from San Francisco and the Bay Area.</p>
  </div>
</div>

<!-- Review Section -->
<div class='body-review-section'>
  <div id='customer-review-title'>
    <h2>CLIENT REVIEW</h2>
    <div class="personal-review">
      <blockquote>
        Vicenta has been cleaning our home for over 5 years and I highly recommend her and her team of cleaners.  They follow instructions; pay attention to detail; and I'm always satisfied with the outcome.  Equally important, she is kind, caring, responsible and a pleasure to work with.  I would refer her to anyone. 
        <cite>Jim S.</cite>
      </blockquote>
    </div>
  </div>
</div>
<!-- section to connect to social media -->
