<!-- another section needs to be here -->
<!-- section who we are -->
<div class='body-title col-mid-12'>WHO WE ARE</div>
<div class='body container'>
  <div class="col-md-4">
    <object type='image/svg+xml' data="001-golden-gate-bridge.svg"></object>
    <p>Locally own since 2007.</p>
  </div>
  <div class="col-md-4">
    <object type='image/svg+xml' data='002-house-things.svg'></object>
    <p>Proffesional work.<br>
      With 10 yers of eperience.
    </p>
  </div>
  <div class="col-md-4">
    <object type='image/svg+xml' data='004-team.svg'></object>
    <p>Servicing our customer from the Bay Area.</p>
  </div>
</div>