<!-- content for landing page - home page -->
<div class='container2'>
      <img src="landingImg3.png">
</div>
<div class='body-title'>
  <h2>WHO WE ARE</h2>
</div>
<div class='body container'>
  <div class="col-md-3">
    <object type='image/svg+xml' data="001-golden-gate-bridge.svg"></object>
    <p>Locally own since 2007.</p>
  </div>
  <div class="col-md-3">
    <object type='image/svg+xml' data='002-house-things.svg'></object>
    <p>Proffesional work.<br>
      With 10 yers of eperience.
    </p>
  </div>
  <div class='col-md-3'>
    <object type='image/svg+xml' data='003-certification.svg'></object>
    <p>We use green ecofriendly cleaning products. <br>Just make a request.</p>
  </div>
  <div class="col-md-3">
    <object type='image/svg+xml' data='004-team.svg'></object>
    <p>Servicing our customer from San Francisco and the Bay Area.</p>
  </div>
</div>
