<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Perez House Cleaning Service</title>
	<script
  		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  		integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  		crossorigin="anonymous">	
  	</script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<script src="script.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mc1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">
		      	<img src="perezLogo1.png" class="img-fluid">
		      </a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="mc1">
				<ul class='nav navbar-nav'>
				    <li><a href="/">HOME</a></li>
				    <li><a href="/about">ABOUT ME</a></li>
				    <li><a href="/services">SERVICES</a></li>
				    <li><a href="/contact">HIRE ME</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<%= yield %>
	<div class='footer'>
		<p class='footer-p' id='footer-title'><strong>PEREZ HOUSE</strong><br>CLEANING SERVICE</p>
		<div class='footer-nav'>
			<ul>
				<li><a href="/">HOME</a></li>
				<li><a href="/about">ABOUT ME</a></li>
				<li><a href="/services">SERVICES</a></li>
				<li><a href="/contact">HIRE ME</a></li>
			</ul>
		</div>
		<p class='footer-p'>
			Gives us call: <span>
			<a href="tel:14155832389">(415)583-2389</span>
			</a>
		</p>
		<p class=footer-p>
			Drop me an email: 
			<span>
			<a href="mailto:vsnperez@yahoo.com">	vsntperez@yahoo.com</a></span>
		</p> 
		<p class='footer-p'>©2017 Copyright Perez Cleaning Service</p>
		<p class="footer-p">All rights reserved. Powered by <span>Cesar Verastegui<span></p>
	</div> 		
</body>
</html>