<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Perez House Cleaning Service</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
	<div class='container1 col-md-12'>
		<p>PEREZ CLEANING SERVICE</p>
	</div>
	<div class='container2 col-md-12'>
		  <img src="img1_copy2.jpg">
	</div>
	<div class="container3" role='navigation'>
		<ul class='mynav'>
			<li class=''></li>
		    <li class='flex_item'><a href="/">Home</a></li>
		    <li class='flex_item'><a href="/about">About</a></li>
		    <li class='flex_item'><a href="/services">Our Services</a></li>
		    <li class='flex_item'><a href="/testimonials">Testimonials</a></li>
		    <li class='flex_item'><a href="/contact">Contact</a></li>
		</ul>
	</div>
	<%= yield %>
	<div class='footer'>
		<p class='footer-p' id='footer-title'>Perez House Cleaning Service</p>
		<ul class='footer-nav'>
			<li>Home</li>
			<li>About us</li>
			<li>Our Service</li>
			<li>Testimonials</li>
			<li>Contact</li>
		</ul>
		<p class='footer-p'>Gives us call: <span>(415)XXX-XXXX</span></p>
		<p class=footer-p>Drop us an <span>email: somehting@you.com</span></p> 
		<p class='footer-p'>©2017 Copyright</p>
		<p class='footer-p'>All rights reserved. Power by <span>Cesar Verastegui<span></p>
	</div> 		
</body>
</html>