<div class="service-container1 odd">
	<p>
		We focus on houses, apartments and studios.
		Always paying attention to detail.
	</p>
</div>
<div class="service-container2 row">
	<div class="col-md-6 div-svg">
		<svg id="svg-pencil">
			<use xlink:href="my-sprite-2.svg#pencil"></use> 
		</svg>	
		<p>We Offer:</p>
	</div>
	<div class="col-md-6">
		<div class='div-svg2'>
			<svg>
				<use xlink:href="my-sprite-2.svg#check"></use>
			</svg>
			<p>Weekly</p>
		</div>
		<div class="div-svg2">
			<svg>
				<use xlink:href="my-sprite-2.svg#check"></use>
			</svg>
			<p>Biweekly</p>
		</div>
		<div class="div-svg2">
			<svg>
				<use xlink:href="my-sprite-2.svg#check"></use>
			</svg>
			<p>Monthly</p>
		</div>	
		<div class="div-svg2">
			<svg>
				<use xlink:href="my-sprite-2.svg#check"></use>
			</svg>
			<p>Deep Clean</p>
		</div>
		<div class="div-svg2">
			<svg>
				<use xlink:href="my-sprite-2.svg#check"></use>
			</svg>
			<p>Move Ins/Outs</p>
		</div>
	</div>
</div>
<div class="service-container3 odd">
	<p>Interested in a quote for your home?</p>
	 <!-- hire me link as a fancy button -->
	 <div class="contact-button">
	 	<a href="/contact"> CONTACT ME</a>
	 </div>
</div>
