@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

*{
	box-sizing: border-box; 
}



.container3 ul li a:hover{
	text-decoration: none;
}

.footer{
	background-color: #1f2733;
	color: white;
}

/* desktop screens */
@media (min-width: 1024px){
	.container1{
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	background-color: white;
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	}

	.container1 p{
		float: left;
		font-size: 50px;
	}

	.container2{
		padding-left: 0;
		padding-right: 0;
		position: relative;
		width: 100%;
		display: block;
	}	

	.container2 img{
		display: block;
	  	width: 100%;
	  	height: 50%;
	  	margin: auto;
	}

	.mynav{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		width: 100%;
		height: auto;
	}

	.mynav li{
		list-style: none;
		margin-top: 1%;
		margin-bottom: 1%;
		padding-right: 1%;
		padding-left: 1%;
		list-style-type: none;
	}

	.mynav li a{
		font-size: 5rem;
		color: black;
		font-family: 'Amatic SC', cursive;
		font-weight: 700;
		transition: color .3s;
	}

	.mynav li a:hover{
		color: #f25829;
		cursor: pointer;
	}

	.body-title{
		width: 100%;
	}

	.body-title h2{
		width: 35%;
		text-align: center;
		font-size: 6rem;
		border-bottom: 1px solid black;
		margin: 2% auto 2% auto;
		font-weight: 500;
		padding-bottom: 1%;
	}

	.body{
		width: 100%;
		height: auto;
		display: block;
	}

	.body div{
		text-align: center;
	}

	.body div object{
		width: 20rem;
		height: auto;
	}

	.footer{
		height: auto;
		text-align: center;
	}

	.footer-p{
		margin: 0 0 0 0;
		color: #53555b;
		padding: 1%;
		font-family: cursive;
	}

	.footer-p span{
		color:white;
		opacity: .9;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
	}

	.footer-nav{
		display: flex;
		flex-direction: row;
		justify-content: center;
		list-style-type: none;
	}

	.footer-nav li{
		padding: 0 1% 0 1%;
	}

	#footer-title{
		font-size: 4rem;
		font-family: 'Amatic SC', cursive;
		font-weight: 500;
	}
}

/* medium devices screens */
@media (min-width: 768px){

}