@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

*{
	box-sizing: border-box; 
}

/* helpers */
.odd{
	background-color: rgb(234, 240, 242);
}

/* mobile screen */
.navbar {
	margin: 0;
	min-height: 145px;
	background-color: #fff;
}

.navbar-toggle {
	margin-top: 55px; 
	margin-bottom: 55px;
}

#mc1{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.7em;
	text-align: center;
}

.navbar-default .navbar-nav > li > a {
	color: #1f2733;
}

/* Index Section */
.container2{
		display: block;
		position: relative;
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0 0 0 0;
}

.row{
	margin: 0;
}

.body-description{
	width: 100%;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#img-vicenta{
	width: 60%;
	margin: auto;
	margin-top: 8%;
	margin-bottom: 3%;
}

#img-vicenta-desc{
	text-align: center;
	font-size: 1.4em;
	margin: auto;
	margin-bottom: 7%;
	padding: 0 2% 0 2%;
}

.body{
	width: 100%;
	height: auto;
	display: block;
	background-color: rgb(234, 240, 242);
	padding: 5% 0 5% 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.body-title h2, #customer-review-title h2{
	text-align: center;
	width: 45%;
	border-bottom: 1px solid black;
	margin: auto;
	font-weight: 400;
	font-size: 2.5em;
}

.body div{
	margin: 8% 0 8% 0;
}

.body div img{
	width: 35%;
	margin: auto;
}

.body div p{
	margin: auto;
	font-weight: 300;
	font-size: 1.4em;
	text-align: center;
	margin-top: 2%;
}

.body div p a:active {
	text-decoration: none;
	color: #337ab7;
	opacity: 0.5;
}

.body div p a:focus {
	text-decoration: none;
}

.body-review-section{
	width: 100%;
	height: auto;
	display: block;
	padding: 10% 0 5% 0;
}

/* Customer review section*/
#customer-review-title h2{
	width: 87%;
}

.personal-review{
	width: 80%;
	margin: auto;
	margin-top: 10%;
}
.personal-review blockquote{
	font-family: Georgia, serif;
	font-size: 1.1em;
	font-style: italic;
	position: relative;
	border-left: 0 solid white;

}

.personal-review blockquote::before{
	display: block;
	content: "\201C";
	font-size: 70px;
	position: absolute;
	left: -20px;
	top: -30px;
}

.personal-review blockquote::after{
	display: block;
	content: "\201D";
	font-size: 70px;
	position: absolute;
	right: -20px;
	bottom: -20px;
}

.personal-review blockquote cite{
	font-size: 17px;
	display: block;
	margin-top: 5px;
	text-align: right;
}

.personal-review blockquote cite::before{
	content: "\2014 \2009";
}

/* About me section */
.about-container {
	width: 100%;
	text-align: center;
}

#about-img {
	width: 40%;
	height: auto;
	margin: 5% 0 3% 0;
}

.about-container p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.4em;
}

/* Service section */
.service-container1, .service-container2, .service-container3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	width: 100%;
	height: auto;
	padding: 5% 0 5% 0;
}

.service-container1 > p, .service-container3 > p {
	width: 90%;
	text-align: center;
	font-size: 1.4em;
	margin: 3% auto 3% auto;
	padding-bottom: .5%;
	border-bottom: 1px solid black;
}

.service-container3 > p {
	border-bottom: none;
}



.div-svg{
	/*width: 100%;*/
	text-align: center;
}

.div-svg > svg{
	width: 20%;
	height: 70px;
}

.div-svg > p{
	font-size: 3em;
	font-weight: 400;
	border-bottom: 1px solid black;
	width: 75%;
	margin: 2% auto 11% auto; 
}

.div-svg2{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	height: auto;
	padding: 0 20% 0 20%;
}

.div-svg2 > svg{
	width: 12%;
	height: 50px;
	padding: 0 2% 0 0;
}

.div-svg2 > p{
	font-size: 1.4em;
}

.contact-button{
	text-align: center;
	margin-top: 7%;
	margin-bottom: 5%;
}

.contact-button a{
	border: 2px solid #96f4c9;
	padding: 1% 2% 1% 2%;
	text-align: center;
	font-weight: 300;
	font-size: 1.6em;
	font-family: 'Roboto', sans-serif;
	border-radius: 4px;
	color: white;
	background-color: #96f4c9;
	transition: color .3s, border .3s;
}

.contact-button a:active{
	text-decoration: none;
}

.contact-button a:focus {
	text-decoration: none;
}

/* Contact me section */
#map{
	width: 100%;
	height: 200px;
}

#custom-p{
	font-weight: 400;
	font-size: 1.5em;
	text-align: center;
	padding: 5% 0;
	margin: 0;
}

.contact-container{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	margin-bottom: 3%;
}

.contact-container div a > svg, .contact-container div svg{
	width: 20%;
	height: 100px;
}

.contact-container div p {
	font-size: 1.3em;
}

.contact-container div iframe{
	width: 100%;
	height: 200px;
}

.media-section{
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	padding: 5% 2%;
}

.media-section p{
	font-size: 1.5em;
}

.media-section a{
	margin: 0 2% 0 2%;
	height: auto;
}

.media-section a svg { 
	width: 10%;
	height: 50px;

}

.media-section a#yp{
	color: #d32323;
}

.media-section a#fb{
	color: #365899;
}

/* Footer section*/
.footer{
	width: 100%;
	height: auto;
	text-align: center;
	background-color: #1f2733;
	color: white;
	font-size: 1.2em;
	padding: 5% 0;
}

.footer-p{
		margin: 0;
		color: #53555b;
		padding: .5%;
		font-weight: 300;
}	

.footer-p span{
		color:white;
		font-weight: 400;
}

.footer-nav ul{
		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: column;
		justify-content: center;
}

.footer-nav ul{
	list-style-type: none;
	-webkit-padding-start: 0;
}

.footer-nav li{
	padding: 1.5% 0 1.5% 0;
}

.footer-nav li a{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1em;
	text-decoration: none;
	color: white;
	opacity: .9;
}

#footer-title{
	font-weight: 300;
	font-size: 2em;
}

/* desktop screens */
@media screen and (min-width: 900px){

	/* Navbar section */
	.navbar{
		border: none;
	}

	#mc1{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.7em;
	float: right;
	margin: 55px 20px;
	}

	#mc1 ul li a{
		border: 1px solid white;
		border-radius: 5px;
		transition: color .3s, border 0.3s;
	}

	#mc1 ul li a:hover{
		border: 1px solid #96f4c9;
		color: #96f4c9;
	}

	.container2{
		display: block;
		position: relative;
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
	}	

	.container2 img{
		width: 100%;
	}

	#img-vicenta{
		width: 40%;
		margin: auto;
		float: right;
		margin-top: 19%;
	}

	#img-vicenta-desc{
		font-size: 1.5em;
		margin: 25% 0 25% 0;
		padding: 0 3% 0 3%;
	}

	.body div{
		margin: 3% 0 3% 0;
		text-align: center;
	}

	.body div p{
		font-size: 1.5em;
		margin-top: 2%;
	}

	.body div p a:hover {
		text-decoration: none;
		color: #337ab7;
		opacity: .5;
	}

	.body div img{
 		width: 45%
	}

	.body-title h2{
		font-weight: 400;
		font-size: 4em;
		border-bottom: 1px black solid;
		width: 25%;
		margin: auto;
	}

	/* Customer review section*/
	.body-review-section{
		padding: 5% 0 5% 0;
	}

	#customer-review-title h2{
		width: 35%;
		font-size: 4em;
	}

	.personal-review{
		width: 40%;
		margin: auto auto;
		margin-top: 7%;
	}
	.personal-review blockquote{
		font-size: 18px;
	}

	.personal-review blockquote::before{
		font-size: 80px;
	}

	.personal-review blockquote::after{
		font-size: 80px;
	}

	/* Footer section */

	.footer{
		padding: 3% 0;
	}

	.footer-p span{
		color:white;
	}

	.footer-nav ul{
		display: flex;
		display: -webkit-box; 
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex; 
		flex-direction: row;
		justify-content: center;
		list-style-type: none;
	}

	.footer-nav li{
		padding: 0 2% 0 2%;
	}

	.footer-nav li a{
		transition: color .3s;
	}

	.footer-nav li a:hover{
		color: #96f4c9;
	}

	#footer-title{
		padding-top: 0;
		font-size: 5rem;
	}

	/* contact page */
	.contact{
		display: block;sss
		width: 100%;
		height: auto;
		text-align: center;
	}

	.contact-container div{
		padding: 5% 2%;
	}

	.contact-container div p{
		font-size: 1.5em;
	}

	.contact-container div iframe{
		height: 300px;
	}

	#map{
		height: 350px;
	}

	#custom-p{
		font-weight: 400;
		font-size: 2.5em;
		margin: 0;
		padding: 5% 0;
	}

	.img-contact-section1{
		width: 9%;
	}

	.media-section{
		display: block;
		width: 100%;
		height: auto;
	}

	.media-section a{
		text-decoration: none;
		height: 50px;
	}

	.media-section a#yp, .media-section a#fb{
		color: #1f2733;
	}

	.media-section a#yp:hover{
		color: #d32323;
	}

	.media-section a#fb:hover{
		color: #365899;
	}

	.media-section a svg{
		width: 50px;
		margin-top: 3%;
	}

	/* service section */
	.service-container1, .service-container2, .service-container3 {
		padding: 1%;
		font-family: 'Roboto', sans-serif;
	}

	.service-container1 > p, .service-container3 > p {
		width: 50%;
		font-size: 1.9em;
		line-height: 1.2;
	}

	.div-svg{
		margin-top: 7%;
	}

	.div-svg, .div-svg2{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;
		align-content: center;
	}

	.div-svg > svg{
		width: 9%;
	}

	.div-svg > p{
		border-bottom: none;
		margin: 0;
		width: 25%;
	}


	.div-svg > p, .div-svg2 > p{
		padding-left: 1%;
		font-family: 'Roboto', sans-serif;
		font-size: 1.6em;
		font-weight: 300;

	}

	.div-svg2{
		justify-content: flex-start;
		padding: 1% 0 1% 0;
	}

	.div-svg2 > svg{
		float: left;
		width: 15%;
		height: 30px;
	}

	.contact-button{
		margin-top: 0;
		margin-bottom: 5%;
	}

	.contact-button a{
		border: 1px solid #96f4c9;
		color: #96f4c9;
		background-color: rgb(234, 240, 242);
		transition: color .3s, border .3s, background-color .3s;
	}

	.contact-button a:hover{
		text-decoration: none;
		color: white;
		border: 2px solid #96f4c9;
		background-color: #96f4c9;
	}

	.underline{
		border-bottom: 1px solid black;
	}

	/* about section */
	.about-container{
		width: 100%;
		height: auto;
		padding: 5%;
		text-align: center;
	}

	#about-img{
		width: 20%;
	}
}