@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

*{
	box-sizing: border-box; 
}

/* helpers */
.odd{
	background-color: rgb(234, 240, 242);
}

.underline{
	border-bottom: 1px solid black;
}

.center{
	text-align: center;
}

/**/
.header{
	background-color: #1f2733;
}

.container3 ul li a:hover{
	text-decoration: none;
}

.footer{
	background-color: #1f2733;
	color: white;
}


/* medium screen devices*/
/*@media (min-width: 768px){
	.container2{
		position: relative;
		width: 100%;
	}	

	.container2 img{
		display: block;
	  	width: 100%;
	  	height: auto;
	}
}*/

/* desktop screens */
@media screen and (min-width: 900px){
	.header{
		display: block;
		background-color: white;
		margin: 0;
	}

	.container1 img{
		margin-top: 8%;
		margin-bottom: 3%;
		margin-left: 15%;
	}

	.container2{
		display: block;
		position: relative;
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0 0 0 0;
	}	

	.container2 img{
		width: 100%;
	  	padding: 0;
	  	margin: 0;
	}

	.mynav{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-top: 9%;
		margin-right: 5%;
	}

	.mynav li{
		list-style: none;
		list-style-type: none;
		margin: 0 1%;
	}

	.mynav li a{
		font-size: 1.5em;
		color: black;
		font-weight: lighter;
		transition: background-color .3s, color .3s;
		font-family: 'Roboto', sans-serif;
		padding: 7px 10px;
		border-radius: 5px;
	}

	.mynav li a:hover{
		color: white;
		cursor: pointer;
		background-color: #96f4c9;
		border-radius: 5px;
	}

	.body-description{
		display: block;
		margin: 0;
	}

	.body-description div img{
		width: 40%;
		margin: 15% 0 20% 55%;
	}

	.body-description div p{
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 1.3em;
		margin: 25% 0 20% 0;
		padding-right: 10%;
	}

	.body{
		width: 100%;
		height: auto;
		display: block;
		background-color: rgb(234, 240, 242);
		padding: 5% 0 5% 0;
		margin: 0;
	}

	.body div{
		text-align: center;
		padding: 0;
	}

	.body div p{
		font-family:  'Roboto', sans-serif;
		font-weight: 400;
		margin-top: 10%;
		font-size: 1.3em;
	}

	.body-title{
		margin: 0 0 5% 0;
	}

	.body-title h2{
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 4em;
		border-bottom: 1px black solid;
		width: 30%;
		margin: auto auto;
	}

	.body-review-section{
		width: 100%;
		height: auto;
		display: block;
		padding: 5% 0 5% 0;
	}

	#svg-img{
		width: 45%;	
	}

	#customer-review-title h2{
		width: 35%;
		text-align: center;
	}

	.personal-review{
		width: 40%;
		margin: auto auto;
		margin-top: 7%;
	}
	.personal-review blockquote{
		font-family: Georgia, serif;
		font-size: 18px;
		font-style: italic;
		position: relative;
		border-left: 0 solid white;

	}

	.personal-review blockquote::before{
		display: block;
		content: "\201C";
		font-size: 80px;
		position: absolute;
		left: -20px;
		top: -30px;
	}

	.personal-review blockquote::after{
		display: block;
		content: "\201D";
		font-size: 80px;
		position: absolute;
		right: -20px;
		bottom: -20px;
	}

	.personal-review blockquote cite{
		font-size: 17px;
		display: block;
		margin-top: 5px;
		text-align: right;
	}

	.personal-review blockquote cite::before{
		content: "\2014 \2009";

	}

	.footer{
		height: auto;
		text-align: center;
	}

	.footer-p{
		margin: 0 0 0 0;
		color: #53555b;
		padding: 1%;
	}

	.footer-p span{
		color:white;
		opacity: .9;
	}

	.footer-nav{
		display: flex;
		flex-direction: row;
		justify-content: center;
		list-style-type: none;
	}

	.footer-nav li{
		padding: 0 1% 0 1%;
	}

	.footer-nav li a{
		text-decoration: none;
		color: rgba(255,255,255,0.5);
		transition: color .3s;
	}

	.footer-nav li a:hover{
		color: #96f4c9;
	}

	#footer-title{
		font-size: 4rem;
		font-weight: 300;
	}

	/* contact page */
	.contact{
		display: block;sss
		width: 100%;
		height: auto;
		text-align: center;
	}

	.contact-container{
		margin: 5% 0 5% 0;
	}

	.contact-container div{
		padding: 2%;
	}

	#custom-div{
		margin-top: 9%;
	}

	#map{
		width: 100%;
		height: 400px;
	}

	.custom-p{
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 1.6em;
		padding: 2.5% 0 2.5% 0;
	}

	.img-contact-section1{
		width: 10%;
	}

	.media-section{
		display: block;
		width: 100%;
		height: auto;
		margin: 0 0 2.5% 0;
	}

	.img-contact-section2{
		width: 4%;
		margin: -2% 1% 0 1%;
		transition: width .2s;
	}

	.media-section a{
		text-decoration: none;
	}

	.media-section a:hover .img-contact-section2{
		width: 4.4%;
	}

	/* service section */
	.service-container1, .service-container2{
		width: 100%;
		height: auto;
		padding: 3%;
	}

	.service-container1 > p{
		width: 35%;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 1.6em;
		margin-bottom: 0;
		margin: auto auto;
		padding-bottom: 1%;
	}

	.div-svg, .div-svg2{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;
		align-content: center;
	}

	.div-svg > svg{
		width: 9%;
	}

	.div-svg > p, .div-svg2 > p{
		margin: 0;
		padding-left: 1%;
		font-family: 'Roboto', sans-serif;
		font-size: 1.6em;
		font-weight: 300;

	}

	.div-svg2{
		justify-content: flex-start;
		height: 10%;
		padding: 2% 0 2% 0;
	}

	.div-svg2 > svg{
		float: left;
		width: 4%;
		height: 20px;
	}

	.contact-button{
		margin-top: 2%;
		text-align: center;
	}

	.contact-button a{
		border: 2px solid black;
		padding: 1% 2% 1% 2%;
		text-align: center;
		font-weight: 300;
		font-size: 1.6em;
		font-family: 'Roboto', sans-serif;
		border-radius: 4px;
		color: black;
		transition: color .3s, border .3s;
	}

	.contact-button a:hover{
		text-decoration: none;
		color: #96f4c9;
		border: 2px solid #96f4c9;

	}

	.underline{
		border-bottom: 1px solid black;
	}

	.center{
		text-align: center;
	}

	
}